table {
  width: 20%;
  border-collapse: collapse;
  table-layout: fixed;
}

table input {
  width: 100%;
  background-color: gray;
  padding: 4%;
}

.tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table tr,
td {
  border: 1px solid gray;
  padding: 4%;
}

#col-1 {
  background-color: lightgray;
}

#col-2 {
  background-color: orange;
}

::placeholder {
  color: white;
  opacity: 1;
}

::-ms-input-placeholder {
  color: white;
}

:-ms-input-placeholder {
  color: white;
}
